* {
  padding: 0;
  margin: 0;
  font-family: poppins;
}
.navbar {
  background-color: #222f42;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.inputfield {
  display: flex;
  align-items: center;
}
.inputfield button {
  padding: 0.5vw 0.6vw;
  background-color: orangered;
  border: none;
}

.inputfield p {
  font-size: 1vw;
  color: black;
  border: none;
  background-color: #e9e9e7;
  padding: 7px;
  width: 50%;
}
.inputfield select {
  border: 1px solid black;
  border: none;
  background-color: #e9e9e7;
}
.inputfield input {
  padding: 0.48vw;
}
.first{
  position: relative;
}
.first img {
  width: 100%;
}
.inputfield select {
  background-color: #e9e9e7;
  border: none;
}
.userinfo {
  display: flex;
  gap: 8%;
  align-items: center;
  border-left: 1px solid white;
  padding-left: 2vw;
}
.userinfo p {
  color: white;
  font-size: 1vw;
}
.userinfo select {
  background-color: inherit;
  border: none;
  color: white;
}

.cartinfo {
  display: flex;
  gap: 8%;
  align-items: center;
  border-left: 1px solid white;
  padding-left: 2vw;
}
.cartinfo select {
  background-color: inherit;
  border: none;
  color: white;
}
.cartinfo p {
  color: white;
  font-size: 1vw;
}
.navbar .hiddenicons {
  display: flex;
  justify-content: space-around;
  display: none;
}
.heading1 {
  font-weight: 300;
  text-align: center;
  margin-top: -1%;
  padding-top: 5%;
  padding-bottom: 5%;
}
.item1 {
  width: 20%;
  padding-bottom: 5%;
}
img.headphones {
  width: 100%;
}
h4.productname {
  text-align: center;
  font-weight: 400;
}
h5.description {
  text-align: center;
  font-weight: 400;
}
.slidingitems {
  margin-top: 5%;
}
h3.cost {
  text-align: center;
  font-weight: 600;
  color: #ff6500;
}
section.featuredrecomendations {
  background-color: #edf2f3;
  margin-top: 0;
}
.featuredrecomendations .slidingitems {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
}
.featuredrecomendations .slidingitems img {
  width: 7vw;
}
#ah3 {
  text-align: center;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 8vw;
  align-items: center;
  
}
.grid .card .info {
  display: flex;
  padding: 1vw;
  align-items: center;
  justify-content: space-between;
  width: 77%;
  background-color: white;
}
.grid .card img {
  /* border: 1px solid black;
  background-color: #ebebeb;
  border: none;
  padding:1%; */
  background-color: #ebebeb;
  width: 80%;
  height: 240px;
  padding:1%;
}
.grid .card .info button {
  padding: 0.5vw;
  background-color: #59af0f;
  border: none;
  color:white;
  white-space: nowrap;
}
.grid .card{
  position: relative;
}

#winter {
  padding: 1vw 2vw 1vw 2vw;
}
.arrows {
  position: relative;
}
.arrows .post-slider {
  width: 90%;
  height: 450px;
  overflow: hidden;
  margin-left: 3%;
}
.post-slider .item1 {
  display: inline-block;
  height: 250px;
  width: 250px;
}
.next {
  position: absolute;
  top: 31%;
  right: 0%;
  color: black;
  cursor: pointer;
  font-size: 2vw;
}
.previous {
  position: absolute;
  top: 31%;
  left: 2%;
  font-size: 2rem;
  color: black;
  cursor: pointer;
}
.arrows .post-slider .item1 .headphones {
  left: 12%;
  width: 75%;
  height: 76%;
  position: relative;
}
.nexts {
  position: absolute;
  right: 2%;
  top: 31%;
  font-size: 2rem;
  cursor: pointer;
}
div.item1.slick-slide.slick-cloned.slick-active {
  width: 200px;
}

/********************************
Amazing Deals
********************************/

.posts-slider {
  position: relative;
}
.posts-slider .post-wrapper {
  width: 90%;
  height: 450px;
  margin: 0px auto;
  overflow: hidden;
}
.posts-slider .post-wrapper .post {
  background: #ebebeb;
  display: inline-block;
  width: 300px;
  height: 248px;
  margin: 0px 10px;
}
.posts-slider .post-wrapper .post .slider-image {
  left: 12%;
  width: 75%;
  height: 76%;
  position: relative;
  margin-top: 9%;
}

.posts-slider .next {
  position: absolute;
  top: 31%;
  right: 2%;
  font-size: 2em;
  color: black;
  cursor: pointer;
}
.posts-slider .prev {
  position: absolute;
  top: 31%;
  left: 2%;
  font-size: 2em;
  color: black;
  cursor: pointer;
}

.post-info {
  display: flex;
  margin-top: 12%;
  align-items: center;
  justify-content: space-between;
}

.cartbutton {
  border-radius: 6px;
  height: 6vh;
  width: 38%;
  border: none;
  color: white;
  margin-top: 5%;
  background-color: #59af0f;
}

h4.todaysdetails {
  font-weight: 400;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 3%;
  font-size: 2vw;
}
h2.productnames {
  font-weight: 300;
  font-size: 20px;
}

/********************************
Designed For you
********************************/

.posts-slider1 {
  position: relative;
}
.posts-slider1 .posts-wrapper {
  width: 90%;
  height: 450px;
  margin: 0px auto;
  overflow: hidden;
}
.posts-slider1 .posts-wrapper .post {
  background: #ebebeb;
  display: inline-block;
  width: 300px;
  height: 248px;
  margin: 0px 10px;
}
.posts-slider1 .posts-wrapper .post .slider-image {
  left: 12%;
  width: 75%;
  height: 76%;
  position: relative;
  margin-top: 9%;
}
.like {
  position: relative;
  top: -62%;
  left: 4%;
}

.posts-slider1 .nex {
  position: absolute;
  top: 31%;
  right: 2%;
  font-size: 2em;
  color: black;
  cursor: pointer;
}
.posts-slider1 .pre {
  position: absolute;
  top: 31%;
  left: 2%;
  font-size: 2em;
  color: black;
  cursor: pointer;
}
.post-info {
  display: flex;
  margin-top: 12%;
  align-items: center;
  justify-content: space-between;
}

.subscribe {
  display: flex;
  background-color: #222f42;
  align-items: center;
  padding: 2%;
  gap:5%;
  margin:0 5%;
}
.subscribe h1 {
  color: white;
}
.subscribe .subscriptionfield {
display: flex;
gap: 5%;
}
.subscribe .subscriptionfield input {
  padding: 3% 25% 3% 10%;
  border-radius: 20px;
  font-size: large;
  border: none;
}
#subbutton {
  border-radius: 3vw;
  background-color: #ff6500;
  color: white;
  border: none;
  padding:0 5%;
  cursor: pointer;
}
footer {
  text-align: center;
  margin-top: 10px;
  
}
footer img {
  padding: 2%;
}
footer h5 {
  margin-top: 2%;
}
footer p {
  padding: 1%;
  color: #808080;
  font-size: 1vw;
}
hr {
  color: #808080;
}

#number {
  padding-bottom: 1%;
  color: black;
}
.input{
  position: absolute;
  top:20%;
  left:30%;
  text-align: center;
  border: 1px solid black;
  background-color: white;
  padding: 5%;
}
.input input{
  border-radius:20px;
  padding:0 5% 0 3%;
  margin-bottom: 1vw;
}
.input button{
  border:none;
  background-color:#ff6500 ;
  color:white;
  padding:1% 20%;
  border-radius: 20px;
}
.input .checkbox{
  display:flex;
  align-items: center;
  font-size: 1vw;
  gap:4%;
  width:111%;
  justify-content: center;
}
.input .signed{
  display: flex;
}
.popular{
  display:flex;
  justify-content: space-between;
  margin-top: 2%;
  align-items: center;
  
}
.popular .popularinfo{
  display:flex;
  gap:3%;
  width: 30%;
  align-items: center;
}
.popular .popularinfo button{
  border:1px solid black;
  padding:2%;
  border-radius: 23px;
  background-color: white;

}
.popular .popularinfo select{
  border:none;
  background-color: inherit;
}
#heart{
  width: 2vw;
  position:absolute;
}



@media screen and (max-width: 500px) {
  .navbar .hiddenicons {
    display: flex;
    gap: 19%;
  }
  .navbar .inputfield {
    display: none;
  }
  .navbar .userinfo {
    display: none;
  }
  .navbar .cartinfo {
    display: none;
  }
}
